/*LOGIN PAGE CSS BEGINS*/

.loginContainer {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}

.loginForm {
  margin: auto;

  /*display: flex;*/
  /*text-align: center;*/

}

.formButton {

 /* display: flex;*/
  /*justify-content: center;*/
/*  flex: wrap;*/
}

.inputLogin {
  border-radius: 6px;
  height: 20px;
}

.inputLoginTwo {
  border-radius: 6px;
  height: 20px;
}

.loginLabelOne {

}

.loginLabelTwo {
  padding-top: 20px;
}

.formButton {
  padding-top: 15px;
}

/*LOGIN PAGE CSS ENDS*/

/*REGISTER PAGE CSS BEGINS*/

.registerCont {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;

}

.regInputOne {
  border-radius: 6px;
  height: 20px;

}

.regInputTwo {
  border-radius: 6px;
  height: 20px;
}

.regInputThree {
  border-radius: 6px;
  height: 20px;
}

.regInputFour {
  border-radius: 6px;
  height: 20px;
}

.registerButton {
  padding-top: 15px;
}



/*REGISTER PAGE CSS ENDS*/






/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
