

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  list-style-type: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.8em;
}

.navContainer {
  background-image: url('./components/cssImages/watercolorsplash.jpeg');
  padding: 15px 0px 10px;
  border-bottom: 1px grey solid;
}

li:hover {
  text-decoration: underline;
}

.fas {
  font-size: 1.4em;
}
